/* Avatar
--------------------------------------------- */

.avatar {
  float: left;

  .alignleft &,
  .author-box & {
    margin-right: 24px;
  }

  .alignright & {
    margin-left: 24px;
  }

  .author-box & {
    height: 80px;
    width: 80px;
  }

  .comment & {
    height: 50px;
    margin: 0 16px 24px 0;
    width: 50px;
  }
}