/* Genesis
--------------------------------------------- */

.breadcrumb {
  margin-bottom: 30px;
}

.archive-description,
.author-box {
  border-bottom: 1px solid #f5f5f5;
  font-size: 18px;
  margin-bottom: 60px;
  padding-bottom: 30px;
}

.single .author-box {
  border-top: 1px solid #f5f5f5;
  padding-top: 30px;
}

.author-box-title {
  font-size: 20px;
  margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}