/* Titles
--------------------------------------------- */

.archive-title {
  font-size: 24px;
}

.entry-title {
  font-size: 36px;
}

.entry-title a {
  color: #333;
}

.entry-title a:hover {
  color: #e5554e;
}

.widget-title {
  font-size: 20px;
  margin-bottom: 20px;
}
