/* Featured Content Base Styling
--------------------------------------------- */

.featured-content .entry {
  border-bottom: 1px solid $featured-content__entry--color;
  margin-bottom: 20px;
  padding: 0 0 24px;
}

.featured-content .entry-title {
  font-size: 20px;
}