/* Base Header Styles
---------------------------------------------------------------------------------------------------- */

.site-header {
  border-bottom: 1px solid #f5f5f5;
  //padding: 2.5% 5%;
  position: relative;
  text-align: center;
  z-index: 1000;
}