/* Site Title Base Styles
--------------------------------------------- */

.site-title {
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
  color: $site-title--link-color;
}

.title-area {
  @include span-columns(12);

  @include media( $breakpoint__screen-size--tablet-landscape ) {
    @include span-columns(6);
    text-align: left;
  }
}