/* Base Layout Styles
--------------------------------------------- */

.site-inner,
.wrap {
  @include outer-container;

  padding: 0 $gutter;

  @include media( $breakpoint__screen-size--phone-landscape) {
    padding: 0 $gutter * 2;
  }

  @include media( $breakpoint__screen-size--desktop) {
    padding: 0;
  }
}

.site-inner {
  padding-top: 10px;

  @include media( $breakpoint__screen-size--tablet-portrait) {
    padding-top: 40px;
  }
  word-wrap: break-word;
}

.content-sidebar-wrap {


}